<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831416989292-4ab88m47blm23frtbj1csalr406pqt6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831416989292-4ab88m47blm23frtbj1csalr406pqt6v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831416989292-4nkbqqkmf79iriv4ubmujkqv00q8j51h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGuL7OvCrokcNtelMZdrrvSe2EIAUjFos</string>
	<key>GCM_SENDER_ID</key>
	<string>831416989292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.focusmedia.retail</string>
	<key>PROJECT_ID</key>
	<string>focusmedia-retail</string>
	<key>STORAGE_BUCKET</key>
	<string>focusmedia-retail.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831416989292:ios:aebcac72b841a78b</string>
	<key>DATABASE_URL</key>
	<string>https://focusmedia-retail.firebaseio.com</string>
</dict>
</plist>